table {
  width: 800px;
}

th {
  padding: 8px;

  border-color: rgb(222, 226, 230);
}

td {
  padding: 8px;
  text-align: left;
}

th {
  text-align: left;
  font-weight: 700;
}

button {
  cursor: pointer;
}

select {
  margin-left: 4px;
  cursor: pointer;
}

tbody {
  height: 20px;
}

.table-container {
  overflow-x: auto;
}
