* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(33, 37, 41);
}

label {
  cursor: pointer;
}

.container {
  padding: 20px;
}

.grid-container {
  display: grid;
  row-gap: 20px;
  padding: 10px;
}
